* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #efefef;
}

.container {
	background-color: #326b7c;
	box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.3);
	color: white;
	width: 35%;
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px;
	border-radius: 12px;
	text-shadow: 1px 1px 2px black;
	display: flex;
}

.container input {
	border: none;
	padding: 10px;
	background-color: #eee;
	border-radius: 12px;
	width: 100%;
	margin-bottom: 10px;
}

#personas {
	list-style-type: none;
}
.btn__container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.btn {
	font-size: 20px;
	padding: 10px 12px;
	border-radius: 50%;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.btn:hover {
	background-color: #ccc;
}

.error {
	margin: 0 auto;
	text-align: center;
	border: double;
	width: 35%;
	margin-top: 10px;
	border-radius: 12px;
	font-size: 20px;
	color: firebrick;
}

@media (max-width: 640px) {
	.container {
		width: 80%;
	}
}
